<!-- logo / navigation -->
<header class="no-print mb-12 sticky top-0 z-10 font-serif bg-stone-100 shadow-md">
  <div class="p-3 flex flex-wrap items-center justify-between">
    <h1 class="ml-5 text-xl font-bold"><%= link_to "ACAM REPORT", root_path %></h1>
    
    <label for="menu-toggle" class="block lg:hidden cursor-pointer">
      <bread-crumb class="flex space-x-1 transform -rotate-90">
        <div class="h-4 border-l-2"></div>
        <div class="h-3 border-l-2"></div>
        <div class="h-4 border-l-2"></div>
      </bread-crumb>
    </label>
    <input type="checkbox" id="menu-toggle" class="hidden peer/breadcrumb">

      <nav class="hidden peer-checked/breadcrumb:block lg:mr-5 lg:flex w-full lg:w-auto">
        <ul class="w-40 lg:w-auto my-4 lg:my-0 p-3 lg:p-0 lg:flex items-center text-sm text-center bg-gray-950 lg:bg-stone-100 text-white lg:text-gray-800 border border-gray-900 lg:border-0 rounded lg:rounded-none space-y-8 lg:space-y-0 lg:space-x-8">
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Students", students_path %></li>
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Grade Scales", cutoffs_path %></li>
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><a href="#">Teachers</a></li>
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Subjects", subjects_path %></li>
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Semesters", semesters_path %></li>
          <% if user_signed_in? %>
            <li class="font-medium hover:font-bold text-purple-800 transition hover:scale-105 duration-300"><%= link_to current_user.username.upcase, edit_user_registration_path %></li>
            <li class="flex flex-col items-center justify-center  transition hover:scale-105 duration-300">
              <%= link_to image_tag("power.svg", width: "30"), destroy_user_session_path, data: {turbo_method: :delete} %>
            </li>
          <% else %>
            <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><%= link_to "Login", new_user_session_path %></li>
          <% end %>
          <li class="font-medium hover:font-bold transition hover:scale-105 duration-300"><a href="#" class="inline-block py-2 px-4 text-xs font-bold bg-lime-300 hover:bg-lime-400 text-black rounded transform hover:scale-105 transition duration-500">Get In Touch</a>
          </li>
        </ul>
      </nav>
  </div>
</header>