<div class="mb-12 block md:flex items-center justify-between">
  <%= form_with url: students_path, method: :get, local: true, class: "flex items-center space-x-4" do |f| %>
    <%= f.label :current_basic, "Filter by class:", class: "font-medium text-purple-800" %>
    <%= f.select :current_basic, Student.current_basics.map{ |key, value| [key.humanize, value] }, 
                                    { include_blank: "Select basic level &darr;".html_safe },
                                    class: "form-control rounded appearance-none" %>
    <%= f.submit "Filter", class: "btn-primary" %>
  <% end %>

  <%= link_to "Add Student", new_student_path, class: "mt-4 md:mt-0 btn-primary hover:bg-blue-500 hover:scale-105 transtion-all duration-300" %>
</div>

  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
    <%= render @students %>
  </div>

  <hr class="my-4">

  <div>
    <%== pagy_nav(@pagy) %>
  </div>

