<%= form_with(model: school, data: { turbo: false }) do |f| %>
  
  <div class="space-y-6">
    
    <%= render partial: "layouts/shared/error_explanation", locals: { model_name: school } %>
    
    <div>
      <%= f.label :name, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.text_field :name, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "Enter School Name" %>
    </div>

    <div>
      <%= f.label :subdomain, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.text_field :subdomain, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "Choose Subdomain (e.g., myschool)" %>
    </div>

    <div>
      <%= f.label :motto, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.text_field :motto, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "Money is power, Power is strength, Strength is pizza" %>
    </div>

    <div>
      <%= f.label :phone_number, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.text_field :phone_number, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "012 345 6789" %>
    </div>

    <div>
      <%= f.label :email, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.email_field :email, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "school@email.com" %>
    </div>

    <div>
      <%= f.label :box_address, class: "text-gray-700 font-semibold text-lg" %>
      <%= f.text_field :box_address, class: "w-full bg-gray-100 border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none rounded-lg py-4 px-5 mt-2 text-gray-800 placeholder-gray-400 transition ease-in-out duration-300 hover:bg-gray-200", placeholder: "P.O.Box 000" %>
    </div>
    
    <div>
      <label for="file-upload" 
            class="flex items-center space-x-3 cursor-pointer transform hover:scale-105 transition duration-500 text-gray-700 font-semibold text-lg">
        <%= image_tag("upload-file.png", alt: "file upload icon", width: "40", class: "inline") %>
        <span>Attach Logo</span>
      </label>
      <%= f.file_field :logo, id: "file-upload", class: "hidden" %>
    </div>
  
  

    <div class="!mt-8">
      <%= f.submit(school.new_record? ? "Register" : "Update", class: "w-full py-4 font-semibold btn-primary hover:bg-blue-500 hover:scale-105 transition-all duration-500") %>
    </div>

  </div>
<% end %>