<!-- Filter by semester form -->
<div>
      <%= form_with url: student_reports_path(@student), method: :get, local: true, class: "flex space-x-4" do |f| %>
        <%= f.label :semester_id, "Filter by Semester:", class: "font-medium" %>
        <%= f.select :semester_id, Semester.all.collect { |semester| ["#{semester.year.year} - Term #{semester.term}", semester.id ] }, { include_blank: "Select a semester" }, class: "form-control bg-white rounded" %>
        <%= f.submit "Filter", class: "btn-primary" %>
      <% end %>
</div>

<div class="container mx-auto px-4 py-8">
  <div class="flex items-center justify-center space-x-5">
    <div class="w-20 h-20 bg-gray-200 rounded-full text-center">school logo</div>
    <div class="">
      <P class="text-3xl font-bold"><%= "Hello World Montessori" %></P>
      <h2 class="text-xl font-bold text-center"><%= "a tripple foobar" %></h2>
      <div class="flex item-center justify-center space-x-3">
        <p><span class="font-medium">Phone number:</span> 0000000000</p>
        <p><span class="font-medium">Email:</span> foo@bar.com</p>
        <p><span class="font-medium">Box Address:</span> P.0.Box 000</p>
      </div>
    </div>
  </div>
  <hr class="my-4">

  <div class="mb-4 flex items-center justify-between">
    <div>
      <p><span class="font-medium">Name of student:</span> <%= @student.fullname %></p>
      <p><span class="font-medium">Student ID:</span> <%= "0000" %></p>
      <p><span class="font-medium">Number on Roll:</span> <%= "00" %></p>
    </div>

    <div>
      <p class="font-medium text-purple-800"><%= current_term(@student, @semester) %></p>
      <p><span class="font-medium">Next term Begins:</span> <%= "date" %></p>
      <p><span class="font-medium text-green-500">Promoted To:</span> <%= @new_assessment.next_basic_level&.titleize if @new_assessment.persisted? %></p>
    </div>
  </div>
  

  <div class="mb-4 flex justify-between items-center">
    <a href="<%= new_student_report_path(@student) %>" class="btn-primary hover:bg-blue-500 hover:scale-105 transition-all duration-300">Add New Report</a>
  </div>

  <div class="overflow-x-auto">
    <table class="table-auto w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="bg-gray-500 text-white">
          <th class="px-4 py-2">Subject</th>
          <th class="px-4 py-2">Class Score (30%)</th>
          <th class="px-4 py-2">Exam Score (70%)</th>
          <th class="px-4 py-2">Total (100%)</th>
          <th class="px-4 py-2">Grade</th>
          <th class="px-4 py-2">Remarks</th>
          <th class="bg-red-600 px-4 py-2">Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr class="even:bg-gray-200 hover:bg-gray-100">
            <td class="border px-4 py-2 text-center text-gray-800"><%= report.subject.subject_name %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.class_score %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.exam_score %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.total %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.grade %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.remarks %></td>
            <td class="flex items-center justify-between border px-4 py-2 text-center">
              <a href="<%= edit_student_report_path(@student, report) %>" class="inline-block text-blue-500 hover:text-blue-700 font-medium">Edit</a> |
              <%= button_to 'Destroy', student_report_path(@student, report), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'inline-block text-red-500 hover:text-red-700 font-medium' %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7" class="border border-gray-400 px-4 py-2 text-center text-gray-800"></td>
      </tr>
      <tr>
        <td class="font-bold border border-gray-400 px-4 py-2 text-center text-gray-800">Grand Total</td>
        <td class="border border-gray-400 px-4 py-2 text-center text-gray-800"><%= @reports.sum(:total).ceil %></td>
      </tr>
      <tr>
        <td class="font-bold border border-gray-400 px-4 py-2 text-center text-gray-800">Average</td>
        <td class="border border-gray-400 px-4 py-2 text-center text-gray-800">
          <%= @reports.any? ? (@reports.sum(:total).to_f / @reports.count).ceil : 0 %>
        </td>
      </tr>
    </tfoot>
    </table>
  </div>

  <hr class="my-4">
  
	<div class="my-12">
	  <% if @new_assessment.persisted? %>
    	<p clas="font-medium"> Attendance: <span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attendance_present %></span> Out Of <span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attendance_total %></span></p>
      <p clas="font-medium"> Attitude:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attitude %></p>
      <p clas="font-medium"> Conduct:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.conduct %></p>
      <p clas="font-medium"> Interest:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.interest %></p>
      <p clas="font-medium"> Class Teacher's Remarks:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.class_teacher_remarks %></p>
      <p clas="font-medium"> Form Master:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.form_master %></p>
      <p clas="font-medium"> Head's Signature:	<%= "" %></p>

      <%= button_to "Delete", semester_assessment_path(@new_assessment.semester_id, @new_assessment), method: :delete,
                            params: { student_id: @new_assessment.student_id }, 
														data: {turbo_confirm: "Student's assessment will be deleted for this semester!"},
														class: "mt-4 btn-danger hover:font-bold hover:scale-105 transition-all duration-300" %>
    <% else %>
      <p>No Assessment record submitted for <span class="font-medium text-purple-800"><%= @student.fullname %></span>
		<% end %>
	</div>

  <hr class="my-4">

  <% unless @new_assessment.persisted? %>
    <div id="<%= dom_id(@new_assessment) %>"> 
      <h3 class="text-3xl font-semibold text-center">Assessment</h3>
      <%= render partial: "semesters/assessments/form", locals: { student: @student, assessment: @new_assessment, semester: @semester } %>
    </div>
  <% end %>
  
</div>
