<!-- Filter by semester form -->


<div class="container mx-auto px-4 py-8">
  <div class="flex items-center justify-center space-x-5">
    <div class="w-20 h-20 bg-gray-200 rounded-full text-center">school logo</div>
    <div class="">
      <P class="text-3xl font-bold"><%= "Hello World Montessori" %></P>
      <h2 class="text-xl font-bold text-center"><%= "a tripple foobar" %></h2>
      <div class="flex item-center justify-center space-x-3">
        <p><span class="font-medium">Phone number:</span> 0000000000</p>
        <p><span class="font-medium">Email:</span> foo@bar.com</p>
        <p><span class="font-medium">Box Address:</span> P.0.Box 000</p>
      </div>
    </div>
  </div>
  <hr class="my-4">

  <div class="mb-4 flex items-center justify-between">
    <div>
      <p><span class="font-medium">Name of student:</span> <%= @student.fullname %></p>
      <p><span class="font-medium">Student ID:</span> <%= "0000" %></p>
      <p><span class="font-medium">Number on Roll:</span> <%= "00" %></p>
    </div>

    <div>
      <p class="font-medium text-purple-800"><%= current_term(@student, @semester) %></p>
      <p><span class="font-medium">Next term Begins:</span> <%= "date" %></p>
      <p><span class="font-medium text-green-500">Promoted To:</span> <%= @new_assessment.next_basic_level&.titleize if @new_assessment.persisted? %></p>
    </div>
  </div>
  

  <div class="overflow-x-auto">
    <table class="table-auto w-full bg-white shadow-md rounded-lg">
      <thead>
        <tr class="bg-gray-500 text-white">
          <th class="px-4 py-2">Subject</th>
          <th class="px-4 py-2">Class Score (<%= @student.cutoff_percentage[:class_cutoff_percentage] %>%)</th>
          <th class="px-4 py-2">Exam Score (<%= @student.cutoff_percentage[:exam_cutoff_percentage] %>%)</th>
          <th class="px-4 py-2">Total (100%)</th>
          <th class="px-4 py-2">Grade</th>
          <th class="px-4 py-2">Remarks</th>          
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr class="even:bg-gray-200 hover:bg-gray-100">
            <td class="border px-4 py-2 text-center text-gray-800"><%= report.subject.subject_name %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.class_scores %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.exam_score.to_i %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.total.to_i %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.grade %></td>
            <td class="border px-4 py-2 text-center text-gray-600"><%= report.remarks %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7" class="border border-gray-400 px-4 py-2 text-center text-gray-800"></td>
      </tr>
      <tr>
        <td class="font-bold border border-gray-400 px-4 py-2 text-center text-gray-800">Grand Total</td>
        <td class="border border-gray-400 px-4 py-2 text-center text-gray-800"><%= @reports.sum(:total).ceil %></td>
      </tr>
      <tr>
        <td class="font-bold border border-gray-400 px-4 py-2 text-center text-gray-800">Average</td>
        <td class="border border-gray-400 px-4 py-2 text-center text-gray-800">
          <%= @reports.any? ? (@reports.sum(:total).to_f / @reports.count).ceil : 0 %>
        </td>
      </tr>
    </tfoot>
    </table>
  </div>

  <hr class="my-4">
  
	<div class="my-12">
	  <% if @new_assessment.persisted? %>
    	<p clas="font-medium"> Attendance: <span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attendance_present %></span> Out Of <span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attendance_total %></span></p>
      <p clas="font-medium"> Attitude:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.attitude %></p>
      <p clas="font-medium"> Conduct:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.conduct %></p>
      <p clas="font-medium"> Interest:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.interest %></p>
      <p clas="font-medium"> Class Teacher's Remarks:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.class_teacher_remarks %></p>
      <p clas="font-medium"> Form Master:	<span class="text-sm font-normal text-purple-800 underline underline-offset-2 decoration-dashed"><%= @new_assessment.form_master %></p>
      <p clas="font-medium"> Head's Signature:	<%= "" %></p>

    <% else %>
      <p>No Assessment record submitted for <span class="font-medium text-purple-800"><%= @student.fullname %></span>
		<% end %>
	</div>

  <hr class="my-4">
  
</div>
