<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ACAM・r ・ Best Terminal Report" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="ACAM.r, A Terminal report platform built for your success. Empower your school with advanced features to ensure growth, safety, and engagement. ">
    <meta name="keywords" content="Acamr, acamdemic report, terminal report, ruby on rails, rails, spa, webapp, hotwire">
    <link rel="canonical" href="https://www.acamr.online/">
    <meta name="robots" content="index">
    <meta property="og:title" content="Acam.r">
    <meta property="og:description" content="ACAM.r, A Terminal report platform built for your success. Empower your school with advanced features to ensure growth, safety, and engagement.">
    <meta property="og:image" content="<%= asset_url('acamr-dashboard.png') %>">
    <meta property="og:url" content="https://www.acamr.online/">
    <meta name="twitter:title" content="Acam.r">
    <meta name="twitter:description" content="ACAM.r, A Terminal report platform built for your success. Empower your school with advanced features to ensure growth, safety, and engagement.">
    <meta name="twitter:image" content="<%= asset_url('acamr-dashboard.png') %>">
    <meta name="twitter:card" content="summary_large_image">
    <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "ACAM.r",
            "description": "ACAM.r, A Terminal report platform built for your success. Empower your school with advanced features to ensure growth, safety, and engagement.",
            "url": "https://www.acamr.online/"
          }
      </script>
        <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
    <link rel="manifest" href="<%= asset_path('site.webmanifest') %>">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%# stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>
    <main class="container mx-auto px-5 md:px-32">
      <%= render 'layouts/shared/flash' %>
      <%= yield %>
    </main>
  </body>
</html>
